/**
==============================================
; Title: Personal Portfolio
; Author: Chad ONeal
; Modified by: Chad ONeal
; Date: 09/11/2022
; Images: Background Image courtesy of unplash.com 
; Description: HTML for personal portfolio
==============================================
*/ 

/* stylings for the body */
body, html {
    height: 100%;
}

body {
    margin: 0;
}

/* stylings for the header */
header {
    height: 125px; 
    background-color: #CCC5C6;    
}

/* stylings for nav menu links */ 
.nav-menu li {
    display: inline-block; 
    margin: 45px 0px 0px 105px;
}

.nav-menu li a {
    text-decoration: none;
    color: #47525E;
    font-family: 'Karla';
    font-size: 30px;    
}

.nav-menu a:hover {
    color: #F8F8F8;
    transition: .20s;

}

/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.384)), url("./images/jr-korpa-ZkngO3nRFCY-unsplash.jpg");
    height: 140.75%;
    background-repeat: no-repeat;    
    margin-top: -.95%;
    
    
}
  
/* Place text in the image */
.hero-text {
    text-align: left;
    position: absolute;
    top: 79%;
    left: 41%;
    transform: translate(-50%, -50%);
    color: #F8F8F8;
    font-family: 'Karla';
    font-size: 30px; 
}

/* stylings for the cards on the page */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 25px;
    column-gap: 95px;
    row-gap: 5px;
}

/* stylings for the card on the page */
.grid-item {
    width: 410px;
    height: 425px;
    background-color: #CCC5C6;
    color: #47525E;
    align-items: center; 
    border: none; 
    border-radius: 12px;
    box-shadow: rgba(145, 2, 2, 0.863) 0 15px 30px -5px;
    box-sizing: border-box;
    font-family: 'Karla';
    font-size: 20px;
    line-height: -1em;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin-left: 50%;
    margin-top: 19%;  
    
}

/* styles the horizontal rule */
hr {
    border: 1px solid #47525E;
    
}

/* stylings for the nav links on the page */
a {
    font-size: 35px;
    font-family: "Karla";
    text-decoration: none;
    color: #47525E;
}

a:hover {
    color: #F8F8F8;
    transition: .20s;
}

/* stylings for the footer */
footer {
    height: 175px; 
    background-color: #CCC5C6;
    margin-top: -3%;
    font-size: 30px; 
    font-family: 'Karla';  
    color: #47525E; 
}

footer ul li {
    list-style: none;
    margin-left: 2.5%;
    display: inline-block;
    
}

footer a {
    font-size: 75px;
    margin-left: 35%;
    color: black;
    margin-top: 1.5%;
    text-decoration: none;
    
}

footer a:hover {
    transform: translate(-50%, -50%);
    color: #F8F8F8;
    transition: .20s;
    text-decoration: none;
}

.center {
    margin-left: 35%;
}

/**
*responsive design
*/
@media (min-width: 360px) and (max-width: 640px){

    body, html {
        height: 100%;
    }
    
    body {
        margin: 0;
    }
    
    header {
        height: 115px; 
        background-color: #CCC5C6;    
    }
    
    .nav-menu li {
        margin: 10px 8px 2px 48.5px;       
        
    }
    
    .nav-menu li a {
        text-decoration: none;
        color: #47525E;
        font-family: 'Karla';
        font-size: 16px;       
           
    }
    
    .nav-menu a:hover {
        color: #F8F8F8;
        transition: .20s;
    
    }
    
    /* The hero image */
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.384)), url("./images/jr-korpa-ZkngO3nRFCY-unsplash.jpg");
        height: 80.75%;
        background-repeat: no-repeat;
        background-size: 1980px 1020px;
        margin-top: -5.5%;
        
        
    }
      
    /* Place text in the image */
    .hero-text {
        text-align: left;        
        top: 45%;
        margin-left: 15%;
        transform: translate(-50%, -50%);
        color: #F8F8F8;
        font-family: 'Karla';
        font-size: 10px; 
        word-break: normal;
    }

    .hero-text p {
        margin-left: -1%;
        font-size: 10px;
        margin-top: 3%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 25px;
        column-gap: 25px;
        row-gap: 75px;
    }

    
      
    .grid-item {
        width: 85px;
        height: 75px;
        background-color: #CCC5C6;
        color: #47525E; 
        align-items: center; 
        border: none; 
        border-radius: 12px;
        box-shadow: rgba(145, 2, 2, 0.863) 0 15px 30px -5px;
        box-sizing: border-box;
        font-family: 'Karla';
        font-size: 10px;
        line-height: -1em;
        text-decoration: none;
        text-align: center;
        margin-left: -10%;  
        padding: 10%;
        
    }

    .grid-item a {
        font-size: 10px;
    }

    footer {
        height: 78px; 
        background-color: #CCC5C6;
        margin-top: -4%;
        font-size: 5px; 
        font-family: 'Karla';  
        color: #47525E; 
    }
    
    footer ul li {
        list-style: none;
        display: inline-block;
        margin-left: -10%;
        margin-top: 2%;
        
        
    }
    
    footer a {
        font-size: 15px;        
        color: black;
        margin-top: 1.5%;
        text-decoration: none;
        
    }
    
    footer a:hover {
        transform: translate(-50%, -50%);
        color: #F8F8F8;
        transition: .20s;
        text-decoration: none;
    }
    
.center {
    margin-left: 45%;
    height: 15px;
    width: 15px;
}

.bell {
    height: 12px;
    width: 12px;
}

/**
*responsive design
*/
@media (min-width: 360px) and (max-width: 780px){
    .hero-text {
        margin-top: -20%;
    }

}
    
/**
*responsive design
*/
@media (min-width: 414px) and (max-width: 896px){
    .hero-image {
        height: 85%;
    }

    .hero-text {
        margin-top: -26%;
    }
        }

        footer {
            height: 94px;
    
        }
    
        footer ul li {
            list-style: none;
            margin-left: -9%;
            display: inline-block;
            padding: 6%;
            margin-top: 2%;        
            
        }
        
        footer a {
            font-size: 22px;        
            color: black;
            margin-top: 1.5%;
            text-decoration: none;
            
        }
    
        .center {
            margin-left: 45%;
            height: 21px;
            width: 21px;
        }
        
        .bell {
            height: 18px;
            width: 18px;
            margin-left: -4%;
        }
    }

    /**
*responsive design
*/
    @media (min-width: 375px) and (max-width: 812px){
    
        .hero-text  {
            margin-top: -5%;
        }

        .grid-container {
            margin-left: -5%;
        }

        .bell {
            margin-left: -17%;
        }        
    
    }
/**
*responsive design
*/
    @media (min-width: 400px) and (max-width: 700px){
    
        .hero-text {
            margin-top: -25%;
        }

        footer ul li {
            padding: 24px;
            font-size: 5px;
        }
    
        footer a {
            font-size: 21px;
        }
    
        
    }